client/node_modules
server/node_modules
server/dist
.env
client/yarn-error.log

server/yarn.lock
client/yarn.lock
server/images/*.jpg
server/images/*.png
server/images/*.jpeg
server/yarn-error.log
server/yarn.lock
