@import "./global.scss";

.feed {
  background-color: rgb(198, 255, 236);
  height: 100%;
  width: 95%;
  position: relative;
  overflow-y: scroll;
}
.flex {
  display: flex;
  position: relative;
  height: 100%;
  left: 50%;
  max-width: 700px;
  transform: translate(-50%);
}

@media only screen and (max-width: 560px) {
  .flex {
    display: block;
  }
  .feed {
    width: 100%;
  }
}
@media only screen and (max-width: 607px) {
  .flex {
    max-width: 500px;
  }
}
