// variables
$big_width: 96%;
$small_width: 92%;
$big_left: 4%;
$small_left: 2%;

// initial view of cards and all
.img {
  object-fit: contain;
  width: 96%;
  position: relative;
  left: 2%;
  background-color: azure;
}
.card {
  position: absolute;
  display: none;
  border-radius: 5px;
  overflow: hidden;
  background: rgb(198, 255, 236);
  box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.25);
  .title {
    font-size: 20px;
    margin-left: 10px;
  }
  .name {
    margin-left: 10px;
    margin-top: 10px;
    font-size: 17px;
  }
  .description {
    margin-left: 10px;
    font-size: 17px;
    overflow-wrap: break-word;
  }
}
.frames {
  overflow: hidden;
  height: 100%;
}

//responsiveness
@media only screen and (max-width: 560px) {
  .frames {
    height: 90%;
  }
}

// animation
// up animation
@keyframes viewUp {
  0% {
    height: 15vh;
    top: 79%;
    width: $small_width;
    left: $big_left;
  }
  100% {
    height: 65vh;
    z-index: 10;
    top: 15%;
    width: $big_width;
    left: $small_left;
  }
}
@keyframes aboveUp {
  0% {
    height: 65vh;
    top: 15%;
    z-index: 10;
    width: $big_width;
    left: $small_left;
  }
  100% {
    height: 15vh;
    top: 2%;
    left: $big_left;
    z-index: 0;
    width: $small_width;
  }
}
@keyframes belowUp {
  0% {
    height: 0vh;
    top: 92%;
  }
  100% {
    height: 15vh;
    top: 79%;
  }
}

// down animation
// animation
@keyframes viewDown {
  0% {
    height: 65vh;
    z-index: 10;
    top: 15%;
    width: $big_width;
    left: $small_left;
  }
  100% {
    height: 15vh;
    top: 79%;
    width: $small_width;
    left: $big_left;
    z-index: 0;
  }
}
@keyframes aboveDown {
  0% {
    height: 15vh;
    top: 2%;
    left: $big_left;
    z-index: 0;
    width: $small_width;
    .description {
      display: none;
    }
  }
  100% {
    height: 65vh;
    top: 15%;
    z-index: 10;
    width: $big_width;
    left: $small_left;
    .description {
      height: 40vh;
    }
  }
}
@keyframes belowDown {
  0% {
    height: 15vh;
    top: 79%;
  }
  100% {
    height: 0vh;
    top: 92%;
  }
}

// cards state
.card.view {
  display: block;
  width: 96%;
  z-index: 10;
}
.card.above {
  display: block;
  z-index: 0;
}
.card.below {
  width: $small_width;
  left: $big_left;
  display: block;
  z-index: 0;
  .name {
    margin-top: 1px;
  }
}
@keyframes upcomingAboveAnime {
  0% {
    height: 0vh;
    width: 90%;
    left: 5%;
  }
  100% {
    height: 15vh;
    width: $small_width;
    left: $big_left;
  }
}
.upcomingAbove {
  display: block;
  top: 2%;
  animation: upcomingAboveAnime 1s ease forwards;
}
