@import "./global.scss";

.screen {
  @include center;
  width: 300px;
  position: absolute;
  border-radius: $radius;
  overflow: hidden;
  box-shadow: $shadow;
  .board {
    background-color: $green;
    width: 100%;
    height: 100px;
    background: linear-gradient(to right, #9eaf05ba, #facd07cc),
      url("../media/Wallpaper-Malavida-Green-Top-Image.jpg");
    background-size: cover;
  }
  img {
    height: 100px;
    width: 80px;
    position: absolute;
    top: 50px;
  }
}
